DROP DATABASE  IF EXISTS SMT;
CREATE DATABASE SMT;/*CREANDO UNA BASE DE DATOS CON NOMBRE PAL*/
USE SMT;/*INDICAMOS QUE QUEREMOS USAR LA BASE DE DATOS PLA*/
/*
	NOT NULL: CAMPOS QUE SE ADMITEN VACIOS, DEBEN TENER SIEMPRE UN VALOR.
    NULL: CAMPOS QUE PUEDEN TENER UN VALOR O NO.
    PRIMARY KEY: INDICAMOS QUE EL CAMPO SERA LLAVE PRIMERIA, ES DECIR LOS VALORES DEL CAMPO SERAN UNICOS
    INT: VALORES ENTEROS
    VARCHAR: VALORES COMO CADENA(CONJUNTO DE CARACTERES)
    FLOAT: VALORES NUMERICOS CON COMA DECIMAL
    DECIMAL: VALORES NUMERICOS CON COMA DECIMAL
    AUTO_INCREMENT: INDICA QUE EL VALOR DEL CAMPO SE GENERARÁ DE MANERA AUTOMATICA Y DE TIPO ENTERO
    DATE: VALORES DE TIPO FECHA
*/
DROP TABLE  IF EXISTS HORARIO2;
CREATE TABLE HORARIO2(
    idHorario INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    fecha DATE NOT NULL,
    horInicio TIME NOT NULL,
    horaFin TIME NOT NULL
);

DROP TABLE  IF EXISTS BACKEND;
CREATE TABLE BACKEND(/*CREANDO TABLA, SINTAXIS: CREATE TABLE NOMBRETABLA*/
    /*creando un id de tipo entero con llave primary y  autoincrementable(se genera solo los valores)*/
	idLinea INT(5) AUTO_INCREMENT PRIMARY KEY NOT NULL,
    idHorario INT NOT NULL,  
    fecha DATE NULL,
    turno VARCHAR(15) NULL,
    empleado VARCHAR(10) NULL,    
    comcode VARCHAR(12) NULL,
    modelo VARCHAR(25) NULL,   
	cantidad INT(5) NULL,
    procesoRealizado VARCHAR(25) NULL,
    materialPara VARCHAR(25) NULL,
 
    /*Para poner de un color los registros ya validados*/
    estado INT NOT NULL,
    FOREIGN KEY(idHorario) REFERENCES HORARIO2(idHorario)
);